@import "tailwindcss";

@font-face {
  font-family: "AnjomanMaxVF";
  src: url("../../public/fonts/AnjomanMaxVF.woff2") format("woff-variations");
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: "AnjomanMax";
  src: url("../../public/fonts/AnjomanMax-Regular.woff") format("woff");
}
@font-face {
  font-family: "AnjomanMax";
  src: url("../../public/fonts/AnjomanMax-Bold.woff") format("woff");
  font-weight: 700;
}

@theme {
  --color-purple-heart: #7a3de2;
  --color-alabaster: #fcfcfc;
  --color-mine-shaft: #303030;
  --color-cod-gray: #141414;
  --color-gallery: #ececec;
  --color-dove-gray: #6B6B6B;
  --color-mercury: #E3E3E3;
  --color-gray: #8A8A8A;
}

body {
  background-color: var(--color-alabaster);
  color: var(--color-mine-shaft);
  line-height: 1.8;
  font-family: "AnjomanMax", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
