@import "tailwindcss";

@font-face {
  font-family: "AnjomanMaxVF";
  src: url("../../public/fonts/AnjomanMaxVF.woff2") format("woff-variations");
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: "AnjomanMax";
  src: url("../../public/fonts/AnjomanMax-Regular.woff") format("woff");
}
@font-face {
  font-family: "AnjomanMax";
  src: url("../../public/fonts/AnjomanMax-Bold.woff") format("woff");
  font-weight: 700;
}

@theme {
  --color-purple-heart: #7a3de2;
  --color-meteorite: #43217c;
  --color-alabaster: #fcfcfc;
  --color-concrete: #f9f9f9;
  --color-mine-shaft: #303030;
  --color-cod-gray: #141414;
  --color-gallery: #ececec;
  --color-dove-gray: #6b6b6b;
  --color-mercury: #e3e3e3;
  --color-gray: #8a8a8a;
  --color-scorpion: #595959;
  --color-emperor: #515151;
  --color-silver-chalice: #a0a0a0;
}

body {
  background-color: var(--color-alabaster);
  color: var(--color-mine-shaft);
  line-height: 1.8;
  font-family: "AnjomanMax", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
